<div id="cookiesAlert" class="alert cookies-alert bg-light fixed-bottom row rounded-0 mb-0 border-top border-width-2 shadow" role="alert" style="display: none;">
    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 offset-xl-2 offset-lg-1 d-flex flex-md-row flex-column justify-content-md-center align-items-center">
        <div class="mr-0 mr-md-3 text-center ng-binding">{{__ "COOKIES_ALERT_TEXT"}}</div>
        <div class="d-flex flex-nowrap mt-2 mt-md-0">
            <button id="cookiesAlertIAgree" type="button" class="btn btn-success mr-1 text-nowrap">{{__ "I_AGREE"}}</button>
            <a class="btn btn-primary  text-nowrap" href="https://enecuum.com/docs/privacy.pdf" target="_blank" role="button">{{__ "MORE_DETAILS"}}</a>
        </div>
    </div>
</div>