<div id="exchangePlatformsTable" class="exchange-table row mx-auto">
  <div class="col-12">
    <div class="row table-row d-none d-md-flex align-items-center">
      <div class="col-6 text-center">
        {{__ 'PLATFORMS'}}
      </div>
      <div class="col-6 text-center">{{__ 'EXCHANGE_OPTIONS'}}</div>     
    </div>
    <div class="row table-row align-items-center">
      <div class="col-12 text-center col-md-6">
        <noindex>
          <a rel="nofollow" href="https://coins.black/en/xchange_ADVCUSD_to_ENQ/">
            <img src="/img/enq/exchanges/coinsblack-color.png" alt="Coinsblack logo">
          </a>
        </noindex>
      </div>
      <div class="col-12 text-center col-md-6">
          <noindex>
            <a rel="nofollow" href="https://coins.black/en/xchange_SBERRUB_to_ENQ/#form">{{__ 'CIS_BANKS'}}</a>
          </noindex>,
          <noindex> 
            <a rel="nofollow" href="https://coins.black/en/xchange_BTC_to_ENQ/#form">{{__ 'CRYPTOCURRENCIES'}}</a>
          </noindex>,
          <noindex> 
            <a rel="nofollow" href="https://coins.black/en/xchange_ADVCUSD_to_ENQ/">Advanced Cash</a>
          </noindex>
      </div> 
    </div>  
  </div>
</div>