
    <div class="container space-2 space-md-3">
        <h3 class="text-center mb-7">FAQ</h3>
        <div class="row">
            <div id="stickyBlockFAQ" class="col-lg-3 mb-7 mb-lg-0 pt-2" style="">
                <!-- Nav -->
                <nav class="js-sticky-block-faq card border-0 bg-primary" data-offset-target="" data-parent="#stickyBlockFAQ" data-sticky-view="lg" data-start-point="#stickyBlockFAQ" data-end-point="#stickyBlockFAQEndPoint" data-offset-top="24" data-offset-bottom="24" style="">
                    <ul class="js-scroll-nav list-group list-group-transparent list-group-white list-group-flush list-group-borderless py-3 px-5">
                        <li class="active">
                            <a class="list-group-item list-group-item-action py-3 font-weight-semi-bold" href="#basics">Basics</a>
                        </li>
                        <li class="">
                            <a class="list-group-item list-group-item-action py-3 font-weight-semi-bold" href="#mining">Mining</a>
                        </li>
                        <li class="">
                            <a class="list-group-item list-group-item-action py-3 font-weight-semi-bold" href="#phone">Phone</a>
                        </li>
                        <li class="">
                            <a class="list-group-item list-group-item-action py-3 font-weight-semi-bold" href="#another">Another</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Nav -->
            </div>

            <div class="col-lg-9">
                <div id="basics" class="mb-4 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3>Basics</h3>
                    </div>
                    <!-- End Title -->

                    <!-- Basics Accordion -->
                    <div id="basicsAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false" aria-controls="basicsCollapseOne">
                                        Do you have any built-in caching?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion" style="">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
                                        Can I add/upgrade my plan at any time?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
                                        What access comes with my hosting plan?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
                                        How do I change my password?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Basics Accordion -->
                </div>

                <hr class="my-0">

                <div id="mining" class="my-4 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3>Mining</h3>
                    </div>
                    <!-- End Title -->

                    <!-- Mining Accordion -->
                    <div id="miningAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3" data-toggle="collapse" data-target="#miningCollapseOne" aria-expanded="false" aria-controls="miningCollapseOne">
                                        How does syncing work?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseOne" class="collapse show" aria-labelledby="miningHeadingOne" data-parent="#miningAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#miningCollapseTwo" aria-expanded="false" aria-controls="miningCollapseTwo">
                                        How do I upload files from my phone or tablet?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseTwo" class="collapse" aria-labelledby="miningHeadingTwo" data-parent="#miningAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="miningHeadingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#miningCollapseThree" aria-expanded="false" aria-controls="miningCollapseThree">
                                        How do I link to a file or folder?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="miningCollapseThree" class="collapse" aria-labelledby="miningHeadingThree" data-parent="#miningAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End mining Accordion -->
                </div>

                <hr class="my-0">

                <div id="phone" class="my-4 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3>Phone</h3>
                    </div>
                    <!-- End Title -->

                    <!-- phone Accordion -->
                    <div id="phoneAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="phoneHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#phoneCollapseOne" aria-expanded="false" aria-controls="phoneCollapseOne">
                                        How do I change my password?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="phoneCollapseOne" class="collapse" aria-labelledby="phoneHeadingOne" data-parent="#phoneAccordion" style="">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="phoneHeadingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#phoneCollapseTwo" aria-expanded="false" aria-controls="phoneCollapseTwo">
                                        How do I delete my phone?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="phoneCollapseTwo" class="collapse" aria-labelledby="phoneHeadingTwo" data-parent="#phoneAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="phoneHeadingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#phoneCollapseThree" aria-expanded="false" aria-controls="phoneCollapseThree">
                                        How do I change my phone settings?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="phoneCollapseThree" class="collapse" aria-labelledby="phoneHeadingThree" data-parent="#phoneAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="phoneHeadingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#phoneCollapseFour" aria-expanded="false" aria-controls="phoneCollapseFour">
                                        I forgot my password. How do I reset it?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="phoneCollapseFour" class="collapse" aria-labelledby="phoneHeadingFour" data-parent="#phoneAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End phone Accordion -->
                </div>

                <hr class="my-0">

                <div id="another" class="my-4 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3>Another</h3>
                    </div>
                    <!-- End Title -->

                    <!-- another Accordion -->
                    <div id="anotherAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="anotherHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#anotherCollapseOne" aria-expanded="false" aria-controls="anotherCollapseOne">
                                        Can I specify my own private key?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="anotherCollapseOne" class="collapse" aria-labelledby="anotherHeadingOne" data-parent="#anotherAccordion" style="">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="anotherHeadingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3 collapsed" data-toggle="collapse" data-target="#anotherCollapseTwo" aria-expanded="false" aria-controls="anotherCollapseTwo">
                                        My files are missing! How do I get them back?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="anotherCollapseTwo" class="collapse" aria-labelledby="anotherHeadingTwo" data-parent="#anotherAccordion" style="">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="anotherHeadingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#anotherCollapseThree" aria-expanded="false" aria-controls="anotherCollapseThree">
                                        How can I access my another data?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="anotherCollapseThree" class="collapse" aria-labelledby="anotherHeadingThree" data-parent="#anotherAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->

                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="anotherHeadingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3" data-toggle="collapse" data-target="#anotherCollapseFour" aria-expanded="false" aria-controls="anotherCollapseFour">
                                        How can I control if other search engines can link to my profile?

                                        <span class="card-btn-arrow">
                        <span class="fas fa-arrow-down small"></span>
                      </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="anotherCollapseFour" class="collapse" aria-labelledby="anotherHeadingFour" data-parent="#anotherAccordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End another Accordion -->
                </div>
            </div>
        </div>
    </div>


<div id="stickyBlockFAQEndPoint"></div>