<div class="u-header__section bg-dark">
  <div id="logoAndNavWithDropdown" class="container">
    <!-- Nav -->
    <nav class="js-mega-menu navbar u-header__navbar u-header__navbar--no-space">
      <!-- Logo -->
      <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center py-2" href="/" aria-label="Front">
        <img src="img/enq/enecuum-logo.svg" alt="Enecuum logo">
      </a>
      <!-- End Logo -->
      <!-- Navigation -->
      <div id="navBarWithDropdown" class="mt-lg-0 pb-lg-0">
        <ul class="navbar-nav u-header__navbar-nav">
          <!-- Dropdown -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item"
              data-event="hover"
              data-animation-in="fadeIn"
              data-animation-out="fadeOut">
            <a id="languageDropdownInvoker" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="languageDropdownSubmenu">
              <img class="dropdown-item-icon" src="vendor/flag-icon-css/flags/4x3/{{currentFlag}}.svg" alt="SVG">
              <span class="d-inline-block">{{__ 'LANGUAGE'}}</span>
            </a>
            <!-- Dropdown - Submenu -->
            <ul id="languageDropdownSubmenu" class="promo hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" aria-labelledby="languageDropdownInvoker" style="min-width: 150px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="?lang=ru"><img class="dropdown-item-icon" src="vendor/flag-icon-css/flags/4x3/ru.svg" alt="Russian Federation flag SVG">Русский</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="?lang=en"><img class="dropdown-item-icon" src="vendor/flag-icon-css/flags/4x3/gb.svg" alt="UK flag SVG">English</a></li>
            </ul>
            <!-- End Dropdown - Submenu -->
          </li>
          <!-- End Dropdown -->
        </ul>
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
  </div>
</div>