<div class="container" id="startMiningToday">
    <div class="row">
        <div class="col-12 py-10">
            <h2 class="mb-8 text-center text-md-left">{{__ 'JOIN_ENECUUM_NETWORK'}}</h2>
            {{> ROICalculator}}
            {{> downloadApplicationsRowOrientation}}
        </div>
    </div>
</div>