<div id="lightROICalcContainer" class="mb-8" style="max-width: 500px;">
    <div class="form-group mb-3 w-100">
        <div class="row align-items-center">
            <label for="roiStakeLight" class="col-12 col-sm-6">{{__ 'ROI_STAKE_LITE_CALC'}}</label>
            <div class="col-12 col-sm-6 d-flex align-items-center flex-nowrap">
                <input type="text" id="roiStakeLight" class="col form-control text-center font-size-03" value="25" autocomplete="off">
                <span class="ml-3 font-weight-bolder">ENQ</span>
            </div>
        </div>
    </div>
    <div class="form-group mb-3 w-100">
        <div class="row align-items-center">
            <label class="col-12 col-sm-6">{{__ 'ANNUAL_ROI'}}</label>
            <div class="col-12 col-sm-6 d-flex align-items-center flex-nowrap">
                <input type="text" id="roiRecalcLight" class="form-control font-weight-bolder text-blue text-center font-size-03" disabled>
                <span class="ml-3 font-weight-bolder">ENQ</span>
            </div>
        </div>
    </div>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="refCheckLight" checked>
        <label class="custom-control-label pt-1 pl-2" for="refCheckLight">{{__ 'IS_REFERRAL'}}</label>
    </div>
</div>