<div id="marketStatsTopSection" class="container mb-10">
   <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 mt-4 col-lg-3 mt-lg-0 text-center">
      <span style="font-size: 35px;">
        <img src="/img/enq/market-cap-icon-grey.png" height="35" alt="Market cap icon">
      </span>
      <div data-content="market_cap" class="font-weight-bold mb-2">---</div>
      <div id="poaNodesLabel">{{__ 'MARKET_CAP'}}</div>
    </div>
    <div class="col-sm-6 col-md-4 mt-4 col-lg-3 mt-lg-0 text-center">
      <span style="font-size: 35px;">
        <img src="/img/enq/volume-icon-grey.png" height="35" alt="Volume icon">
      </span>
      <div data-content="coin_volume" class="font-weight-bold mb-2">---</div>
      <div id="powNodesLabel">{{__ 'VOLUME'}}</div>
    </div>
    <div class="col-sm-6 col-md-4 mt-4 col-lg-3 mt-lg-0 text-center">
      <span class="market-stats-icon mdi mdi-currency-usd" style="font-size: 35px;"></span>
      <div data-content="price_usd" class="font-weight-bold mb-2">---</div>
      <div id="posNodesLabel">{{__ 'PRICE_USD'}}</div>
    </div>
    <div class="col-sm-6 col-md-4 mt-4 col-lg-3 mt-lg-0 text-center">
      <span class="market-stats-icon mdi mdi-currency-btc" style="font-size: 35px;"></span>
      <div data-content="price_btc" class="font-weight-bold mb-2">---</div>
      <div id="accountsLabel">{{__ 'PRICE_BTC'}}</div>
    </div>   
   </div>
</div>