<ul>
  <li class="d-flex py-3 py-lg-5"><div class="mr-3 token-feature-ico t-loyalty-points-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.MINABLE.FEATURES.F_1'}}</span></li>
  <li class="d-flex py-3 py-lg-5"><div class="mr-3 token-feature-ico t-marketing-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.MINABLE.FEATURES.F_2'}}</span></li>
  <li class="d-flex py-3 py-lg-5"><div class="mr-3 token-feature-ico t-community-building-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.MINABLE.FEATURES.F_3'}}</span></li>
  <li class="d-flex py-3 py-lg-5"><div class="mr-3 token-feature-ico t-defi-staking-ico"></div><span>{{__ 'TECHNOLOGY_PAGE.TOKEN_MACHINE.MINABLE.FEATURES.F_4'}}</span></li>
</ul>