<h3 class="mb-4 text-center">{{__ 'TOTAL_NODES'}}: <span data-content="totalNodes">---</span> </h3>
<div class="bg-light">
	<div id="nodesMapWrapper" class="container space-1 space-md-1 px-8" style="max-width: 1400px;">
	  <div id="nodesMap">
	    <div id="mapPlaceHolder"></div>
	  </div>
	</div>
</div>