
  <button type="button" class="btn dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="dropdown-item-icon" src="/vendor/flag-icon-css/flags/4x3/{{currentFlag}}.svg" alt="SVG">
              <span class="d-inline-block">{{__ 'LANGUAGE'}}</span>
  </button>
  <div class="dropdown-menu" style="color: black;">
   <a class="nav-link u-header__sub-menu-nav-link" href="?lang=ru"><img class="dropdown-item-icon" src="/vendor/flag-icon-css/flags/4x3/ru.svg" alt="Russian Federation flag SVG">RU</a>
   <a class="nav-link u-header__sub-menu-nav-link" href="?lang=en"><img class="dropdown-item-icon" src="/vendor/flag-icon-css/flags/4x3/gb.svg" alt="UK flag SVG">EN</a>

  </div>