<a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum" target="_blank">Russian</a>
<a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum_EN" target="_blank">English</a>
<a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/EnecuumIndonesia" target="_blank">Indonesian</a>
<a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/EnecuumNigeria" target="_blank">Nigerian</a>
<a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum_South_Africa" target="_blank">South African</a>
<a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/ENQ_Turkey" target="_blank">Turkish</a>
<a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/EnecuumVietnam" target="_blank">Vietnamese</a>