<a id="telegramMenuInvokerForSection" class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" rel="nofollow" href="javascript:;" role="button"
    aria-controls="dropdownTelegramForSection"
    aria-haspopup="true"
    aria-expanded="false"
    data-unfold-target="#dropdownTelegramForSection"
    data-unfold-type="css-animation"
    data-unfold-target-is-menu="true"
    data-unfold-hide-on-blur="false"
    data-unfold-duration="300"
    data-unfold-delay="300"
    data-unfold-hide-on-scroll="false"
    data-unfold-animation-in="fadeIn"
    data-unfold-animation-out="fadeOut">
    <span class="fab fa-telegram-plane btn-icon__inner"></span>
</a>
<div id="dropdownTelegramForSection" class="dropdown-menu dropdown-unfold border py-0" style="right: 0; left: auto;" aria-labelledby="telegramMenuInvokerForSection">
    {{> telegramChannelsList}}
</div>