<a rel="nofollow" class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum" target="_blank">Russian</a>
<a rel="nofollow" class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum_EN" target="_blank">English</a>
<a rel="nofollow" class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum_ArabicWorld" target="_blank">Arabic</a>
<a rel="nofollow" class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum_Persian" target="_blank">Persian</a>
<a rel="nofollow" class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum_Espanol" target="_blank">Spanish</a>
<a rel="nofollow" class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Turkey_ENQ" target="_blank">Turkish</a>