<div id="tokenValueCreatedByMiners" class="container pt-8 text-center">
  <div class="w-lg-65 text-center mx-auto mb-8">
    <h3>{{__ 'ABOUT_S2_TITLE'}}</h3>
    <div>{{__ 'ABOUT_S2'}}</div>        
  </div>
  <div class="w-lg-65 text-center mx-auto">
    <img src="/img/enq/enq-world.svg" class="w-100" alt="ENQ world">
  </div>
</div>