<div class="container mb-8" style="max-width: 1400px;">
  <div class="row">
    <div class="col-12 col-xl-6 mb-6 mb-xl-0 px-xl-8" style="height: 480px;">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/ENQUSDT/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for ENQUSDT</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
                "interval": "1D",
                "width": "100%",
                "isTransparent": true,
                "height": "100%",
                "symbol": "KUCOIN:ENQUSDT",
                "showIntervalTabs": true,
                "locale": "ru",
                "colorTheme": "light",
                "largeChartUrl": "https://www.tradingview.com/symbols/ENQUSDT/technicals/"
            }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-12 col-xl-6 px-xl-8" style="height: 480px;">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/ENQBTC/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for ENQBTC</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
                "interval": "1D",
                "width": "100%",
                "isTransparent": true,
                "height": "100%",
                "symbol": "KUCOIN:ENQBTC",
                "showIntervalTabs": true,
                "locale": "ru",
                "colorTheme": "light",
                "largeChartUrl": "https://www.tradingview.com/symbols/ENQBTC/technicals/"
            }
        </script>
      </div>
      <!-- TradingView Widget END -->      
    </div>  
  </div>      
</div>