<!doctype html>
<html lang="en">
<head>
  <!-- Title -->
  <title>{{__ 'NEWS_AND_COMMUNITY'}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="vendor/font-awesome/css/fontawesome-all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/enq.css">
  <link rel="stylesheet" href="vendor/dzsparallaxer/dzsparallaxer.css">
  <link rel="stylesheet" href="vendor/hs-megamenu/src/hs.megamenu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138901721-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-138901721-4');
  </script>
</head>

<body>
  <header id="headerWithDropdown" class="u-header u-header--abs-top">
    {{> header}}
  </header>
  
  <main id="content" role="main">




  <div class="enq-top-section dzsparallaxer height-is-based-on-content auto-init use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
    <!-- Apply your Parallax background image here -->
    <div class="divimage dzsparallaxer--target" style="height: 120%; background-image: url(img/enq/enq-header-back-5.jpg); transform: translate3d(0px, -72.4172px, 0px);"></div>

    <!-- Content -->
    <div class="container position-relative z-index-2 d-flex align-items-center">
      <div class="w-lg-50 text-center mx-auto pt-5">
        <h2 class="text-white mb-4">{{__ 'NEWS_AND_COMMUNITY'}}</h2>
      </div>
    </div>
    <!-- End Content -->
  </div>
  <div class="container pt-8"  id="joinOurCommunity">
    <div class="text-center m-auto mb-9">
      <h2 class="h2 font-weight-semi-bold mb-8">{{__ 'JOIN_OUR_COMMUNITY'}}</h2>
      <!-- Social Networks -->
      <ul class="list-inline mb-8">
       <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://www.facebook.com/enecuum.EN/?ref=bookmarks" target="_blank">
            <span class="fab fa-facebook-f btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://twitter.com/enq_enecuum" target="_blank">
            <span class="fab fa-twitter btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://medium.com/@EnqBlockchain" target="_blank">
            <span class="fab fa-medium-m btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://github.com/Enecuum" target="_blank">
            <span class="fab fa-github btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent forklog-hub-icon" href="https://hub.forklog.com/companies/enecuum/" target="_blank" style="padding-top: 24px;">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="205 336 107 107" width="28" height="28"  xml:space="preserve">
                          <path class="st0" d="M279.7,407.7c-0.4-0.4-0.6-0.7-0.9-0.9c-2.7-2.6-5.4-5.3-8.1-7.9c-0.3-0.3-0.7-0.7-1-1.1
                c-0.5-0.6-0.5-1.5-0.1-2.2c0.4-0.8,1.1-1.3,2-1.4c0.4-0.1,0.8-0.1,1.2-0.1c3.7,0,7.3,0,11,0.1c2.6,0.1,5,1.1,6.8,3
                c5.4,5.4,10.7,10.8,16.1,16.2c0.6,0.6,1.2,1.3,1.7,2.1c0.8,1.2,0.9,2.8,0.2,4.1c-0.5,0.8-1,1.6-1.7,2.3c-2.3,2.3-4.6,4.6-6.9,6.9
                c-3,3.1-6.1,6.1-9.1,9.2c-1.3,1.3-2.9,2.3-4.6,2.7c-0.8,0.2-1.7,0.4-2.6,0.4c-2.4,0-4.7,0-7.1-0.1c-1.4-0.1-2.9-0.1-4.3-0.1
                c-0.6,0-1.3-0.2-1.8-0.6c-1-0.6-1.2-1.9-0.6-2.9c0,0,0.1-0.1,0.1-0.1c0.3-0.5,0.7-0.9,1.1-1.3c2.1-2.1,4.2-4.1,6.2-6.2
                c0.7-0.8,1.4-1.5,2.2-2.1c0.1-0.1,0.2-0.3,0.1-0.4c0-0.2-0.2-0.3-0.4-0.3c-0.9-0.1-1.8-0.1-2.6-0.1c-2.4,0-4.7,0-7.1-0.1
                c-5-0.1-9.8-1.2-14.4-3.2c-3.4-1.5-6.6-3.3-9.7-5.3c-3.4-2.2-6.6-4.6-9.8-7c-3.1-2.3-6.3-4.5-9.4-6.7c-3.6-2.5-7.6-4.3-11.9-5.1
                c-2.4-0.5-4.8-0.7-7.2-0.6c-3.2,0.1-6.4,0.1-9.7,0c-1.6,0-3.1-0.1-4.7-0.2c-0.5,0-0.6-0.2-0.5-0.6c0-0.4,0.1-0.7,0.2-1.1
                c0.6-2.7,0.8-5.5,0.7-8.3c0-2.3-0.3-4.5-0.8-6.7c-0.3-1.6-0.3-1.6,1.3-1.7c3-0.1,6-0.2,9,0c1.3,0.1,2.6,0.2,4,0.2
                c4.3,0,8.6-0.8,12.6-2.4c3.9-1.6,7.5-3.7,10.9-6.1c2.4-1.7,4.6-3.6,6.9-5.4c4.7-3.8,9.8-7,15.2-9.6c2.8-1.3,5.8-2.4,8.8-3.3
                c5.6-1.6,11.4-2.2,17.2-1.7c0.4,0,0.7,0,1.1,0c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0-0.2-0.1-0.3c-2.6-2.3-4.7-5-7.4-7.2
                c-0.6-0.5-1.2-1.1-1.6-1.8c-0.8-1.3-0.9-3-0.3-4.4c0.1-0.2,0.3-0.3,0.5-0.3c0.2,0,0.5,0,0.7,0c4.6,0,9.2,0,13.8,0
                c0.6,0,1.3,0.2,1.8,0.6c2.9,2.2,5.6,4.6,8.2,7.1c3,3,5.9,6.1,8.8,9.1c1,1,2,2,3,3c0.6,0.6,1.2,1.2,1.6,1.9c0.9,1.3,0.9,3,0.1,4.3
                c-0.5,0.9-1.2,1.7-2,2.4c-2.1,2.1-4.2,4.3-6.4,6.4c-3.2,3.2-6.4,6.4-9.6,9.6c-1.4,1.5-3.3,2.5-5.4,2.8c-0.6,0.1-1.2,0.1-1.8,0.1
                c-3.4,0-6.8-0.1-10.1-0.1c-0.6,0-1.2-0.1-1.8-0.1c-0.6-0.1-1.2-0.4-1.6-0.9c-0.7-0.8-0.8-2-0.1-2.8c0.2-0.3,0.5-0.6,0.8-0.9
                c2.7-2.7,5.4-5.3,8.1-8c0.2-0.2,0.5-0.5,0.7-0.7c0.1-0.1,0-0.3-0.1-0.3c0,0-0.1,0-0.1,0c-0.1,0-0.2-0.1-0.4-0.1
                c-3.2-0.3-6.3-0.3-9.5,0c-3.8,0.4-7.4,1.6-10.7,3.4c-2.8,1.6-5.5,3.4-8.1,5.4c-3.1,2.3-6.2,4.6-9.3,6.9c-0.6,0.5-1.3,0.9-2,1.4
                c-1.6,1.1-1.6,1.6,0,2.7c0.9,0.6,1.7,1.2,2.6,1.8c4.9,3.4,9.7,6.9,14.6,10.3c3.6,2.6,7.7,4.2,12.1,4.8c2.8,0.4,5.6,0.5,8.4,0.3
                c0.6-0.1,1.2-0.1,1.8-0.1C278.9,408,279.3,407.9,279.7,407.7z"/>
            </svg>
          </a>
        </li>       
        <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://bitcointalk.org/index.php?topic=2939909.0;topicseen" target="_blank">
            <span class="fab fa-btc btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://www.linkedin.com/company/enecuum-limited/" target="_blank">
            <span class="fab fa-linkedin-in btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="https://www.youtube.com/channel/UCyZqNfzK_PP82nkAVOlmN4Q" target="_blank">
            <span class="fab fa-youtube btn-icon__inner"></span>
          </a>
        </li>
        <li class="list-inline-item position-relative">
          <a id="telegramMenuInvokerForSection" class="btn btn-lg btn-icon btn-soft-secondary btn-bg-transparent" href="javascript:;" role="button"
            aria-controls="dropdownTelegramForSection"
            aria-haspopup="true"
            aria-expanded="false"
            data-unfold-target="#dropdownTelegramForSection"
            data-unfold-type="css-animation"
            data-unfold-target-is-menu="true"
            data-unfold-hide-on-blur="true"
            data-unfold-duration="300"
            data-unfold-delay="300"
            data-unfold-hide-on-scroll="false"
            data-unfold-animation-in="fadeIn"
            data-unfold-animation-out="fadeOut">
            <span class="fab fa-telegram-plane btn-icon__inner"></span>
          </a>
          <div id="dropdownTelegramForSection" class="dropdown-menu dropdown-unfold border py-0" style="right: 0; left: auto;" aria-labelledby="telegramMenuInvokerForSection">
            <a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum" target="_blank">Russian</a>
            <a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/Enecuum_EN" target="_blank">English</a>
            <a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/EnecuumIndonesia" target="_blank">Indonesian</a>
            <a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/EnecuumNigeria" target="_blank">Nigerian</a>
            <a class="btn btn-sm btn-soft-secondary btn-bg-transparent d-block" href="https://t.me/EnecuumVietnam" target="_blank">Vietnamese</a>
          </div>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>
  <div class="container space-2 space-lg-2">
    <div class="mx-auto w-100 w-lg-65">
      <a class="twitter-timeline" href="https://twitter.com/ENQ_enecuum?ref_src=twsrc%5Etfw">Tweets by ENQ_enecuum</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</main>





<!-- ========== FOOTER ========== -->
{{> footer}}
<!-- ========== END FOOTER ========== -->

  <!-- JS Global Compulsory -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/bootstrap.min.js"></script>


  <!-- JS Front -->
  <script src="js/hs.core.js"></script>
  <script src="vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="js/components/hs.header.js"></script>
  <script src="js/components/hs.unfold.js"></script>  


  <!-- JS Implementing Plugins -->
<script src="vendor/appear.js"></script>
<script src="vendor/hs-megamenu/src/hs.megamenu.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(window).on('load', function () {
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991.98,
      hideTimeOut: 0
    });
  });

  $(document).on('ready', function () {
    // initialization of header 
    $.HSCore.components.HSHeader.init($('#headerWithDropdown'));
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

    //Cookies alert workflow start
    ENQCookies = {
      cookieName: 'enecuum-corp-site',
      cookiesExpirationYears: 10,
      cookieWidgetSelector: '#cookiesAlert',
      cookiesIAgreeControlSelector: '#cookiesAlertIAgree',
      getCookie: function() {
        var name = this.cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookiesArray = decodedCookie.split(';');
        for(var i = 0; i < cookiesArray.length; i++) {
            var cookie = cookiesArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
      },
      cookieExist: function() {
        return this.getCookie(this.cookieName) === 'true';
      },
      setCookies: function() {
        let that = this;
        let currentDate = new Date();
        let expirationDate = new Date(currentDate.setFullYear(currentDate.getFullYear() + that.cookiesExpirationYears)).toUTCString();
        document.cookie = this.cookieName+"=true; expires=" + expirationDate;
        $(that.cookieWidgetSelector).remove();
      },
      normalFlowExecute: function() {
        let that = this;
        if (that.cookieExist() === false) {
          $(that.cookieWidgetSelector).show();
          $(that.cookiesIAgreeControlSelector).on('click', function() {
            that.setCookies();
          });
        } else {
          $(that.cookieWidgetSelector).remove();
        }
      }
    }

    ENQCookies.normalFlowExecute();
    //Cookies alert workflow end
  });


</script>
</body>
</html>