<div class="card">
  <div class="card-header" id="headingY2022Epic6">
    <h5 class="mb-0" data-percentage="100">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseY2022Epic6" aria-expanded="false" aria-controls="collapseY2022Epic6">
        Progressive Web Application
      </button>
    </h5>
  </div>

  <div id="collapseY2022Epic6" class="collapse" aria-labelledby="headingY2022Epic6" data-parent="#roadmapAccordionY2022">
    <div class="card-body tasks-card">
      {{> y2022_e6_t1}}
      {{> y2022_e6_t2}}
      {{> y2022_e6_t3}}
    </div>
  </div>
</div>
