<div id="roadmapAccordionY2022Epic1Task1">
  <div class="card">
    <div class="card-header" id="headingY2022Epic1Task1">
      <h5 class="mb-0" data-percentage="100">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseY2022Epic1Task1" aria-expanded="false" aria-controls="collapseY2022Epic1Task1">
          Release PoW in BIT network
        </button>
      </h5>
    </div>

    <div id="collapseY2022Epic1Task1" class="collapse" aria-labelledby="headingY2022Epic1Task1" data-parent="#roadmapAccordionY2022Epic1Task1">
      <div class="card-body roadmap-subtask">
      </div>
    </div>
  </div>
</div>