<ul>
	<li data-percentage="100">
		Use explorer not only to read from the blockchain, but to write to it too
	</li>	
	<li data-percentage="100">
		Document existing Pulse & BIT Block Explorer API methods
	</li>
</ul>
