<div id="roadmapAccordionY2022Epic5Task2">
  <div class="card">
    <div class="card-header" id="headingY2022Epic5Task2">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseY2022Epic5Task2" aria-expanded="false" aria-controls="collapseY2022Epic5Task2">
          Upgrade Block Explorer into a Blockchain Provider
        </button>
      </h5>
    </div>

    <div id="collapseY2022Epic5Task2" class="collapse" aria-labelledby="headingY2022Epic5Task2" data-parent="#roadmapAccordionY2022Epic5Task2">
      <div class="card-body roadmap-subtask">
        {{> y2022_e5_t2_sts}}
      </div>
    </div>
  </div>
</div>