<div id="roadmapAccordionY2022Epic1Task1">
  <div class="card">
    <div class="card-header" id="headingY2022Epic1Task1">
      <h5 class="mb-0" data-percentage="100">
        <button class="btn btn-link">
          Release PoW in BIT network
        </button>
      </h5>
    </div>
  </div>
</div>