<div id="roadmapAccordionY2022Epic6Task3">
  <div class="card">
    <div class="card-header" id="headingY2022Epic6Task3">
      <h5 class="mb-0">
        <button class="btn btn-link">
          Desktop (Linux, Windows, MacOS) miners
        </button>
      </h5>
    </div>
  </div>
</div>