<div class="card">
  <div class="card-header" id="headingY2022Epic7">
    <h5 class="mb-0" data-percentage="15">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseY2022Epic7" aria-expanded="false" aria-controls="collapseY2022Epic7">
        Open Source Power
      </button>
    </h5>
  </div>

  <div id="collapseY2022Epic7" class="collapse" aria-labelledby="headingY2022Epic7" data-parent="#roadmapAccordionY2022">
    <div class="card-body tasks-card">
      {{> y2022_e7_t1}}
      {{> y2022_e7_t2}}
      {{> y2022_e7_t3}}
    </div>
  </div>
</div>
