<div class="card">
  <div class="card-header" id="headingY2022Epic1">
    <h5 class="mb-0" data-percentage="35">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseY2022Epic1" aria-expanded="false" aria-controls="collapseY2022Epic1">
        Trinity Grand Finale
      </button>
    </h5>
  </div>

  <div id="collapseY2022Epic1" class="collapse" aria-labelledby="headingY2022Epic1" data-parent="#roadmapAccordionY2022">
    <div class="card-body tasks-card">
      {{> y2022_e1_t1}}
      {{> y2022_e1_t2}}
      {{> y2022_e1_t3}}
      {{> y2022_e1_t4}}
    </div>
  </div>
</div>
