<div class="roadmap-content">
	<div class="h2">2022</div>
	<div id="roadmapAccordionY2022">
		{{> y2022_e1}}
		{{> y2022_e2}}
		{{> y2022_e3}}
		{{> y2022_e4}}
		{{> y2022_e5}}
		{{> y2022_e6}}
		{{> y2022_e7}}
	</div>
</div>