body {
	background-color: rgb(22, 22, 31);
		font-family: 'Montserrat';
}

.container {
	max-width: 1200px;
}

#presentationTop {
	height: 100vh;
	width: 100%;
    max-width: 100%;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	background-image: url(../img/enq/presentation/planet-background.png);
	position: relative;
}

.presentation-top-gradient {
  background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(22,22,31,0.54) 27%, rgb(22,22,31) 50%);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(22,22,31,0.54) 27%, rgb(22,22,31) 50%);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(22,22,31,0.54) 27%, rgb(22,22,31) 50%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 941px;
  z-index: 5;
}

#trinityTitle {
	margin-top: 100px;
	margin-bottom: 70px;
}

.presentation-top-content {
	z-index: 9999;
    position: relative;
    color: white;
}

.fs-104 {
	font-size: 104px;
}

.fs-48 {
	font-size: 48px;
}

.fs-46 {
	font-size: 46px;
}

.fs-45 {
	font-size: 45px;
}

.fs-40 {
	font-size: 40px;
}

.fs-36 {
	font-size: 36px;
}

.fs-34 {
	font-size: 34px;
}

.fs-22 {
	font-size: 22px;
}

.fs-23 {
	font-size: 23px;
}

.fs-19 {
	font-size: 19px;
}

.fs-14 {
	font-size: 14px;
}

.fs-11 {
	font-size: 11px;
}

.ff-monts-black {
	font-weight: 900;
}

.ff-monts-bold {
	font-weight: bold;
}

.ff-monts-medium {
	font-weight: 500;
}

.ff-monts-semi-bold {
	font-weight: 600;
}

.ff-monts-extra-bold {
	font-weight: 800;
}

.text-blue {
	color: rgb(0,139,255);
}

.separator-grey {
	border-top: 1px solid rgb(204,204,204);
	border-bottom: 1px solid rgb(164,164,164);
}

.w-40 {
	width: 40%;
}

#presentationPOAImage {
	max-width: 270px;
    position: absolute;
    transform: translate(-50%, -70px);
}

#presentationPOSImage {
	max-width: 320px;
    position: absolute;
    transform: translate(-50%, -50px);
}

#presentationPOWImage {
	max-width: 400px;
    position: absolute;
    transform: translate(-54%, -40px);
}

#presentationPOACard, #presentationPOWCard {
	min-height: 480px;
}

#presentationFeaturesTitles {
	max-width: 700px;
	position: relative;
	top: -40px;	
}

.presentation-feature-number {
	font-size: 104px;
	line-height: 104px;
}

.presentation-feature-descr {
	position: relative;
	top: -42px;
	left: 30px;
}


@media (min-width: 768px) and (max-width: 992px) {
	#presentationPOACard, #presentationPOWCard, #presentationPOSCard {
		width: 50%;
		min-height: auto;
		padding-bottom: 40px !important;
		margin-left: auto;
		margin-right: auto; 
	}

	.presentation-feature-number {
		padding-left: 20px;
		font-size: 58px!important;
		line-height: 58px!important;
	}

	.presentation-feature-descr {
		top: -35px;
		left: 70px;
	}
}

@media (max-width: 767.99px){
	#presentationPOACard, #presentationPOWCard, #presentationPOSCard {
		width: 90%;
		min-height: auto;
		padding-bottom: 40px !important;
		margin-left: auto;
		margin-right: auto; 
	}

	.presentation-feature-descr {
		position: static;
	}
}

@media (max-width: 992px) {
	.presentation-feature-number {
		font-size: 58px!important;
		line-height: 58px!important;
	}
}

.smart-obj {
	position: absolute;
	z-index: -1;
}

#presentationSmartContractsDescr span {
	line-height: 40px;
}

#smartObjWrapper_2 {
	height: 600px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 270px;
	overflow: hidden;
}

#smartObj_1 {
	top: -165px;
	left: 0px;
}

#smartObj_2 {
	top: -15px;
	left: -230px;
}

#smartObj_3 {
	top: 133px;
	left: 0px;
}

#smartObj_4 {
	right: calc(50% - 300px);
	top: 15px;
}

#smartObj_5 {
	top: 0px;
	right: calc(50% - 850px);
}

#presentationCurrentTPS_N, #presentationFutureTPS_N {
	line-height: 104px;
}

#presentationCurrentTPSDescr {
	position: relative;
    top: -45px;
    left: 45px;
    width: 45%;
}

#presentationFutureTPSDescr {
	position: relative;
    top: -45px;
    left: 395px;
    width: 25%;
}

#presentationFooter {
	background-color: rgb(19,19,19); 
}

#presentationFooter .forklog-hub-icon svg path {
    fill: #ffffff;
}