<div id="roadmapAccordionTrinity2Epic1Task3">
  <div class="card">
    <div class="card-header" id="headingTrinity2Epic1Task3">
      <h5 class="mb-0" data-percentage="">
        <button class="btn btn-link">
          Truly private transaction pending – Direct messaging to blockchain (As solo PoA miner you can publish your transactions directly to the blockchain without third-party management)
        </button>
      </h5>
    </div>
  </div>
</div>
