<div id="roadmapAccordionTrinity2Epic2Task3">
  <div class="card">
    <div class="card-header" id="headingTrinity2Epic2Task3">
      <h5 class="mb-0" data-percentage="">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTrinity2Epic2Task3" aria-expanded="false" aria-controls="collapseTrinity2Epic2Task3">
          Strong on-chain randomness
        </button>
      </h5>
    </div>

    <div id="collapseTrinity2Epic2Task3" class="collapse" aria-labelledby="headingTrinity2Epic2Task3" data-parent="#roadmapAccordionTrinity2Epic2Task3">
      <div class="card-body roadmap-subtask">
        {{> trinity2_e2_t3_sts}}
      </div>
    </div>
  </div>
</div>