<div id="roadmapAccordionTrinity2Epic2Task1">
  <div class="card">
    <div class="card-header" id="headingTrinity2Epic2Task1">
      <h5 class="mb-0" data-percentage="50">
        <button class="btn btn-link">
          Current blockchain randomness solutions deep analysis
        </button>
      </h5>
    </div>
  </div>
</div>
