<ul>
	<li data-percentage="">
		User Seed (MEV protection)
	</li>
	<li data-percentage="">
		Decentralised VRF on top of Enecuum (secret key leakage protection). Split VRF private key between Enecuum PoS nodes
	</li>
</ul>