<div class="card">
  <div class="card-header" id="headingTrinity2Epic2">
    <h5 class="mb-0" data-percentage="">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTrinity2Epic2" aria-expanded="false" aria-controls="collapseTrinity2Epic2">
        Randomness track. Fair and transparent RNG, frontrun protection for DeFi, GameFi and NFT
      </button>
    </h5>
  </div>

  <div id="collapseTrinity2Epic2" class="collapse" aria-labelledby="headingTrinity2Epic2" data-parent="#roadmapAccordionTrinity2">
    <div class="card-body tasks-card">
      {{> trinity2_e2_t1}}
      {{> trinity2_e2_t2}}
      {{> trinity2_e2_t3}}
    </div>
  </div>
</div>
