<div class="card">
  <div class="card-header" id="headingTrinity2Epic4">
    <h5 class="mb-0" data-percentage="15">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTrinity2Epic4" aria-expanded="false" aria-controls="collapseTrinity2Epic4">
        Business track
      </button>
    </h5>
  </div>

  <div id="collapseTrinity2Epic4" class="collapse" aria-labelledby="headingTrinity2Epic4" data-parent="#roadmapAccordionTrinity2">
    <div class="card-body tasks-card">
      {{> trinity2_e4_t1}}
      {{> trinity2_e4_t2}}
      {{> trinity2_e4_t3}}
      {{> trinity2_e4_t4}}
      {{> trinity2_e4_t5}}
    </div>
  </div>
</div>
