<div id="roadmapAccordionTrinity2Epic2Task2">
  <div class="card">
    <div class="card-header" id="headingTrinity2Epic2Task2">
      <h5 class="mb-0" data-percentage="">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTrinity2Epic2Task2" aria-expanded="false" aria-controls="collapseTrinity2Epic2Task2">
          Off-chain randomness improvements
        </button>
      </h5>
    </div>

    <div id="collapseTrinity2Epic2Task2" class="collapse" aria-labelledby="headingTrinity2Epic2Task2" data-parent="#roadmapAccordionTrinity2Epic2Task2">
      <div class="card-body roadmap-subtask">
        {{> trinity2_e2_t2_sts}}
      </div>
    </div>
  </div>
</div>