<div class="card">
  <div class="card-header" id="headingTrinity2Epic1">
    <h5 class="mb-0" data-percentage="10">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTrinity2Epic1" aria-expanded="false" aria-controls="collapseTrinity2Epic1">
        Decentralisation track. Censorship protection for DeFi, GameFi and NFT
      </button>
    </h5>
  </div>

  <div id="collapseTrinity2Epic1" class="collapse" aria-labelledby="headingTrinity2Epic1" data-parent="#roadmapAccordionTrinity2">
    <div class="card-body tasks-card">
      {{> trinity2_e1_t1}}
      {{> trinity2_e1_t2}}
      {{> trinity2_e1_t3}}
    </div>
  </div>
</div>
