<div class="card">
  <div class="card-header" id="headingTrinity2Epic3">
    <h5 class="mb-0" data-percentage="">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTrinity2Epic3" aria-expanded="false" aria-controls="collapseTrinity2Epic3">
        Mobile track. Network decentralisation based on smartphone utility for millions of people
      </button>
    </h5>
  </div>

  <div id="collapseTrinity2Epic3" class="collapse" aria-labelledby="headingTrinity2Epic3" data-parent="#roadmapAccordionTrinity2">
    <div class="card-body tasks-card">
      {{> trinity2_e3_t1}}
    </div>
  </div>
</div>
